# === IDEs ===
.classpath
.project
.settings/
.idea/
*.iml

# === Build directories ===
/bin/
target/
out/

# === OS files ===
.DS_Store
Thumbs.db

# === Maven ===
.mvn/

# === Gradle (caso use no futuro) ===
.gradle/
build/

# === Logs and temp files ===
*.log
*.tmp
*.swp
*.bak
*~

# === Spring Boot sensitive config ===
src/main/resources/application.properties

# === Env files ===
.env
